/* 自定义 media query postcss-custom-media 会进行处理 */
/* @custom-media --mobile only screen and (max-device-width: 720px),
                       only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 720px);
@custom-media --iphoneX only screen and (device-width: 375px) and (min-device-height:724px) and (-webkit-device-pixel-ratio:3); */
html{
    /* font-size: 140px; */
    /* @media only screen and (max-device-width: 720px),only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 720px) { */
        font-size: calc(100vw/7.5);
        height: 100%;
    /* } */
}
body{
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
}
img {
    /**
     * 防止页面上的图片溢出。
     * 注意，在 IE8 中如果 <img> 的父级元素加了 float，并且没有给 <img>
     * 设置宽度的话，会出现图片不显示的 bug，解决方法是给这些图片设置
     * 宽度或者设置 `max-width: none` 来覆盖 `max-width: 100%`
     */

    /* max-width: 100%; */

    /* @media (--mobile) {
        max-width: 100%;
    } */
}